// COLORS
$color-primary: #0077B2;
$color-primary-light: #189BDC;
$color-primary-dark: #00334D;

$color-secondary: #189BDC;
// $color-secondary-dark: #ff7730;

$color-tertiary: #DADDDD;
// $color-tertiary-dark: #5643fa;


$color-white: #fff;
$color-black: #333;

$color-background-dark: #00334D;
$color-background-light: #EEF8FD;



// FONT
$default-font-size: 1.6rem;

$title-font-weight: 700;
$paragraph-font-weight: 100;

$default-line-height: 1.7;
$paragraph-line-height: 1;


// GRID
$grid-width: 144rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
