<footer class="footer">
  <div class="row">
    <div class="col-1-of-4">
      <div class="u-margin-bottom-small">
        <h2 class="heading-tertiary">
          MillLuck
        </h2>
      </div>

      <p class="footer-about">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua.
      </p>

    </div>
    <div class="col-1-of-4">
      <div class="u-margin-bottom-small">
        <h2 class="heading-tertiary">
          Contact
        </h2>
      </div>

      <p class="">
        Mill Luck AB, <br>
        Kungsgatan 12 <br>
        Gothenburg
      </p>
      <p>
        <a routerLink="/contact">www.mill-luck.com <i class="shortcut-icon icon--arrow-right"></i></a>
      </p>

    </div>
    <div class="col-2-of-4">
      <div class="u-margin-bottom-small">
        <h2 class="heading-tertiary">
          Support
        </h2>
      </div>
      <nav class="nav-col">
        <ul class="footer-nav">
          <li><a class="footer-link" href="#">Do you need assistance?</a></li>
          <li><a class="footer-link" href="#">Visit our help section</a></li>
        </ul>
        <p>
          <a routerLink="/contact">www.mill-luck.com <i class="shortcut-icon icon--arrow-right"></i></a>
        </p>
      </nav>

    </div>
  </div>
</footer>
<div class="footer-bottom">
  <div class="row">
    <div class="col-2-of-4">
      <p>Terms of use Privacy notice</p>
    </div>
    <div class="col-1-of-4">
      <p class="">Version 10.1236663211</p>
    </div>
    <div class="col-1-of-4">
      <p>2024. Mill Luck AB. All rights reserved.</p>
    </div>
  </div>
</div>
